<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2018week10A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
                        Iowa St. at Kansas
					</th>
				</tr>
				<tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports Sun<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG Plus<br />
                    </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2018week10B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
                        Syracuse at Wake Forest
					</th>
				</tr>
				<tr>
                    <td class="FSNrow">
                        AT&amp;T Sports Pittsburgh<br />
                        FOX Sports Florida<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        NBC Sports Washington PLUS<br />
                        Prime Ticket<br />
                        YES<br />
                        <br />
                        <u>Streaming</u>
                        <p>
                            <b>Outside ACC States</b><br />
                            <a href="http://www.espn.com/watch/schedule?channel=accextra" target="_blank">ACC Network Extra</a>
                        </p>
                        <p>
                            <b>ACC States</b><br />
                            <a href="http://foxsportsgo.com" target="_blank">FOX Sports Go</a><br />
                            <a href="https://pittsburgh-attsn.att.com/" target="_blank">AT&amp;T SportsNet Pittsburgh</a><br />
                            <a href="https://nbcsports.com/washington/" target="_blank">NBC Sports Washington</a>
                        </p>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>