<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2017week10A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Baylor at Kansas
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<sup>+</sup><br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports Sun<br />
                        FOX Sports West<br />
                        MASN2<br />
                        MSG Plus<br />
                        ROOT Sports Northwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2017week10B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
                        Georgia Tech at Virginia
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Arizona (JIP)<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports West (JIP)<br />
                        NBC Sports Washington<br />
                        NESN<br />
                        SportsTime Ohio<br />
                        YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>