<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2020rweek14A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Sun<br />
                        FOX Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                        YES<br />
                        <br />
                        <u>Streaming</u>
                        <p>
                            <b>Outside ACC States</b><br />
                            <a href="http://www.espn3.com/" target="_blank">ESPN3</a>
                        </p>
                        <p>
                            <b>ACC States</b><br />
                            <a href="http://foxsportsgo.com" target="_blank">FOX Sports Go</a><br />
                            <a href="https://pittsburgh-attsn.att.com/" target="_blank">AT&amp;T SportsNet Pittsburgh</a><br />
                            <a href="https://nesngo.nesn.com" target="_blank">NESN Go</a><br />
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
