<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2020rweek9A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTSA at Florida Atlantic
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        <p>Please understand that listing services are not updating on a timely basis. More RSNs may be added closer to the game date.</p>
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX College Sports Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN2<br />
                        ROOT Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2020rweek9B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UAB at Louisiana Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        <p>Please understand that listing services are not updating on a timely basis. More RSNs may be added closer to the game date.</p>
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX College Sports Central<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN2<br />
                        ROOT Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2020rweek9C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Charlotte at Duke
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        <p>Please understand that listing services are not updating on a timely basis. More RSNs may be added closer to the game date.</p>
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                        YES<br />
                        <br />
                        <u>Streaming</u>
                        <p>
                            <b>Outside ACC States</b><br />
                            <a href="http://www.espn3.com/" target="_blank">ESPN3</a>
                        </p>
                        <p>
                            <b>ACC States</b><br />
                            <a href="http://foxsportsgo.com" target="_blank">FOX Sports Go</a><br />
                            <a href="https://pittsburgh-attsn.att.com/" target="_blank">AT&amp;T SportsNet Pittsburgh</a><br />
                            <a href="https://nesngo.nesn.com" target="_blank">NESN Go</a><br />
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
