<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2020rweek3A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Duke
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        YES<br />
                        <br>
                        <u>Streaming</u>
                        <p>
                            <b>Outside ACC States</b><br />
                            <a href="http://espn3.com" target="_blank">ESPN3</a>
                        </p>
                        <p>
                            <b>ACC States</b><br />
                            <a href="http://foxsportsgo.com" target="_blank">FOX Sports Go</a><br />
                            <a href="https://nesngo.nesn.com" target="_blank">NESN Go</a><br />
                            <a href="https://nbcsports.com/washington/" target="_blank">NBC Sports Washington</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2020rweek3B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Charlotte at North Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        YES<br />
                        <br>
                        <u>Streaming</u>
                        <p>
                            <b>Outside ACC States</b><br />
                            <a href="http://espn3.com" target="_blank">ESPN3</a>
                        </p>
                        <p>
                            <b>ACC States</b><br />
                            <a href="http://foxsportsgo.com" target="_blank">FOX Sports Go</a><br />
                            <a href="https://nesngo.nesn.com" target="_blank">NESN Go</a><br />
                            <a href="https://nbcsports.com/washington/" target="_blank">NBC Sports Washington</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
