<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2022week10A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Tech at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit EXTRA<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest EXTRA<br />
                        Bally Sports North<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<sup>+</sup><br />
                        Bally Sports Sun<br />
                        MASN<br />
                        NESN+<br />
                        YES<br />
						<br />
                        <u>Streaming</u>
                        <p>
                            <b>Pennsylvania & Outside ACC States</b><br />
                            <a href="https://www.espn.com/watch/schedule/_/type/upcoming/channel/3e99c57a-516c-385d-9c22-2e40aebc7129" target="_blank">ESPN3</a>
                        </p>
                        <p>
                            <b>ACC States</b><br />
                            <a href="http://ballysports.com" target="_blank">Bally Sports</a><br />
                            <a href="https://video.masnlivestream.com/live-masn/masn" target="_blank">MASN</a><br />
                            <a href="https://nesn.com/watch-nesn-live/" target="_blank">NESN</a><br />
                            <a href="https://watchyesnetwork.com/" target="_blank">YES</a><br />
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>