<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2007week10A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Nebraska at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FSN Arizona<br />
						FSN Bay Area<br/>
                        FSN Detroit<br />
                        FSN Florida<br />
						FSN Midwest<br />
                        FSN New York<br />
						FSN North<br />
						FSN Northwest<br/>
                        FSN Ohio<br />
						FSN Rocky Mountain<br />
						FSN South<br />
						FSN Southwest<br />
						FSN West<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet New England
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2007week10B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Missouri at Colorado
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FSN Bay Area<br/>
                        FSN Detroit<br />
						FSN Midwest<br />
                        FSN Ohio<br />
						FSN Rocky Mountain<br />
						FSN South<br />
						FSN Southwest<br />
						Prime Ticket<br />
                        Comcast SportsNet New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2007week10C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Washington St. at California
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FSN Arizona<br />
                        FSN Bay Area<br/>
                        FSN Detroit<br/>
                        FSN Florida<br />
						FSN Midwest<br />
                        FSN New York<br/>
                        FSN North (JIP)<br/>
                        FSN Northwest<br/>
                        FSN Ohio<br/>
                        FSN Pittsburgh<br />
						FSN Rocky Mountain<br />
						FSN South<br />
						FSN Southwest<br />
						Prime Ticket<br />
                        Comcast SportsNet Chicago (JIP)<br />
                        Comcast SportsNet Mid Atlantic (JIP)<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Philadelphia<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
