<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202223week5A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Coppin State at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona<br>
					Bally Sports North EXTRA<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports Southwest EXTRA<br>
					Bally Sports Wisconsin<br>
					NESN+<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week5B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Cornell at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<sup>+</sup><br>
					Bally Sports Southwest or EXTRA<sup>+</sup><br>
					Bally Sports West<br>
					NESN+<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week5C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Towson at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Detroit EXTRA<br>
					Bally Sports Southwest or EXTRA<sup>+</sup><br>
					Bally Sports West<br>
					NESN+<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week5D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<sup>+</sup><br>
					Bally Sports Midwest<br>
					Bally Sports North<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports Southwest<sup>+</sup><br>
					Bally Sports Wisconsin<br>
					NESN+<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
