<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week6A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        VMI at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Bally Sports Florida/Sun<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports Southeast<br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports Wisconsin<br />
                        MASN<br />
                        NESN+<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week6B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        USF vs. Florida
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Midwest<br />
                        Bally Sports North PLUS<br />
                        Bally Sports Ohio<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South/Southeast<sup>+</sup><br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week6D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTA at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North<br />
                        Bally Sports Ohio PLUS<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports Southeast<br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports Wisconsin PLUS<br />
                        MASN2<br />
                        Stadium College Sports Central<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
