<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
	    <div id="basketball202223week8B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona<br>
					Bally Sports Detroit<br>
					Bally Sports Florida<br>
					Bally Sports Midwest<br>
					Bally Sports North EXTRA<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest<br>
					MASN<br>
					NESN+<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week8B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pepperdine at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Southwest PLUS<br />
						Bally Sports San Diego<br>
						Bally Sports SoCal<br>
						NBC Sports Bay Area<br>
                        ROOT Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week8C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Saint Mary's at Santa Clara
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T SportsNet Pittsburgh<br>
					AT&T SportsNet Rocky Mountain<br>
					AT&T SportsNet Southwest PLUS<br>
					Bally Sports Arizona EXTRA<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports San Diego<br>
					Bally Sports South<br>
					Bally Sports SoCal<br>
					Bally Sports Wisconsin EXTRA<br>
					NBC Sports Bay Area<br>
					ROOT Sports<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
