<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202223week13A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Tech at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br>
                        Bally Sports Detroit EXTRA<br>
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest EXTRA<br />
                        Bally Sports North EXTRA<br>
                        Bally Sports San Diego<br>
                        Bally Sports SoCal<br>
                        Bally Sports South<br>
                        Bally Sports Southwest or EXTRA<sup>+</sup><br>
                        Bally Sports Sun<br />
                        Bally Sports Wisconsin<br>
                        MASN<br />
                        NESN+<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week13B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Notre Dame
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br>
                        Bally Sports Detroit<br>
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest<br>
                        Bally Sports North<br>
                        Bally Sports San Diego<br>
                        Bally Sports SoCal<br>
                        Bally Sports South<br>
                        Bally Sports Southwest<br>
                        Bally Sports Sun<br />
                        Bally Sports Wisconsin<br>
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN+<br />
                        YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
