<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2009week5A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        New Mexico at Texas Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Houston (JIP)<br/>
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North (JIP)<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin (JIP)<br />
                        FSN Northwest<br/>
                        FSN Pittsburgh<br/>
                        FSN Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast Network<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
