<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2021week5A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Louisville at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
						Bally Sports SoCal<br>
						Bally Sports South<br>
                        Bally Sports Southwest<br />
                        <br>
                        <u>Streaming</u>
                        <p>
                            <b>Pennsylvania & Outside ACC States</b><br />
                            <a href="https://www.espn.com/watch/schedule/_/type/upcoming/channel/3e99c57a-516c-385d-9c22-2e40aebc7129" target="_blank">ESPN3</a>
                        </p>
                        <p>
                            <b>ACC States</b><br />
                            <a href="http://ballysports.com" target="_blank">Bally Sports</a><br />
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
