<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2021week1A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        William & Mary at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						<p><b>Affiliate list is not complete.  More will be added.</b></p>
						Bally Sports Detroit PLUS<br>
                        Bally Sports Great Lakes (JIP)<br />
						Bally Sports SoCal<br>
						Bally Sports South<br>
						Bally Sports Sun<br>
						Bally Sports Wisconsin PLUS<br>
						YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
