<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2006week4A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Louisville at Kansas St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FSN Arizona<br />
						FSN Bay Area<br/>
                        FSN Detroit<br />
                        FSN Florida<br />
						FSN Midwest<br />
                        FSN New England<br />
						FSN New York<br/>
						FSN North<br />
						FSN Northwest<br/>
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West<br />
						Comcast SportsNet Chicago PLUS<br/>
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2006week4B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Arizona St. at California
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FSN Arizona<br />
						FSN Bay Area<br/>
                        FSN Detroit<br />
                        FSN Florida<br />
						FSN Midwest<br />
                        FSN New England<br />
						FSN New York<br/>
						FSN North<br />
						FSN Northwest<br/>
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West<br />
						Comcast SportsNet Chicago PLUS<br/>
                        Comcast SportsNet Mid Atlantic
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2006week4C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        USF at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FSN Arizona<br />
						FSN Bay Area<br/>
                        FSN Detroit<br />
                        FSN Florida<br />
						FSN Midwest<br />
                        FSN New England<br />
						FSN New York<br/>
						FSN North<sup>+</sup><br />
						FSN Northwest<br/>
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West<br />
						Comcast SportsNet Chicago<br/>
                        Comcast SportsNet Philadelphia
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
