<select id="DropDownTimeZone" name="DropDownTimeZone">
    <option selected="selected" value="0">Eastern</option>
    <option value="1">Central</option>
    <option value="2">Mountain</option>
    <option value="3">Arizona</option>
    <option value="4">Pacific</option>
    <option value="5">Alaska</option>
    <option value="6">Hawai'i</option>
</select>
