@model MSS.Models.DateModel
@if (Model.IsFootball)
{
	foreach (var item in Model.YearDatesList)
	{
		string title;
		if (item.Week != Model.YearDatesList.Last().Week)
		{
			title = string.Format("Week {0} - {1} {2} to {3} {4}", item.Week.ToString(), item.StartDate.ToString("MMMM"),
			                      item.StartDate.Day, item.EndDate.ToString("MMMM"), item.EndDate.Day);
		}
		else
		{
			title = "Bowl Games";
		}
		<a href="/Schedule/Weekly/@Model.Year/@item.Week">@title</a><br/>
	}
}
else if (Model.IsBasketballWithPostseason)
{
	foreach (var item in Model.YearDatesList)
	{
		string title;
		if (item.Week != Model.YearDatesList.Last().Week && item.Week != Model.YearDatesList[Model.YearDatesList.Count - 2].Week)
		{
			title = string.Format("Week {0} - {1} {2} to {3} {4}", item.Week.ToString(), item.StartDate.ToString("MMMM"),
								  item.StartDate.Day, item.EndDate.ToString("MMMM"), item.EndDate.Day);
		}
		else if (item.Week != Model.YearDatesList[Model.YearDatesList.Count - 2].Week)
		{
			title = "NIT";
		}
		else
		{
			<br />
			title = "NCAA Tournament";
		}
		<a href="/Schedule/Weekly/@Model.Year/@item.Week">@title</a><br/>

		}
}
else
{
	foreach (var item in Model.YearDatesList)
	{
		var title = string.Format("Week {0} - {1} {2} to {3} {4}", item.Week.ToString(), item.StartDate.ToString("MMMM"),
							  item.StartDate.Day, item.EndDate.ToString("MMMM"), item.EndDate.Day);
		<a href="/Schedule/Weekly/@Model.Year/@item.Week">@title</a><br/>
	}
}
<br />
