@model MSS.Models.WeeklyModel
<div id="WeeksBase">
	@if (!Model.TelevisedGamesList.Any())
	{
	<p>
		@Html.Label("There are no televised games at this time")
	</p>
	}
	else
	{
		if (Model.TelevisedGamesList.Any())
		{
			Html.RenderPartial("DailyGamesTable", Model);
		}
	}
</div>
