<select id="DropDownTimeZone" name="DropDownTimeZone">
	<option value="0">Newfoundland</option>
	<option value="1">Atlantic</option>
	<option selected="selected" value="2">Eastern</option>
	<option value="3">Central</option>
	<option value="4">Mountain</option>
	<option value="5">Arizona</option>
	<option value="6">Pacific</option>
	<option value="7">Alaska</option>
	<option value="8">Hawai'i</option>
</select>
