<select id="DropDownTimeZone" name="DropDownTimeZone">
    <option value="0">GMT</option>
    <option value="1">Newfoundland</option>
    <option value="2">Atlantic</option>
    <option selected="selected" value="3">Eastern</option>
    <option value="4">Central</option>
    <option value="5">Mountain</option>
    <option value="6">Arizona</option>
    <option value="7">Pacific</option>
    <option value="8">Alaska</option>
    <option value="9">Hawai'i</option>
</select>
