@model MSS.Models.WeeklyModel
<div id="WeeksBase">
	@if (!Model.TelevisedGamesList.Any())
 {
		<p>
			@Html.Label("There are no televised games at this time")
		</p>
 }
 else
 {
   DateTime endDate = Model.WeekDates.EndDate.AddDays(1);
   Model.WeekDates.CurrentDate = Model.TelevisedGamesList.Min(x => x.Time).Date.AddDays(-1);
   while ((Model.WeekDates.CurrentDate = Model.WeekDates.CurrentDate.AddDays(1)) <= endDate)
   {
       if (Model.TelevisedGamesList.Any(x => Convert.ToDateTime(x.Time.Date) == Model.WeekDates.CurrentDate))
	   {
		   Html.RenderPartial("WeekGamesTable", Model);
	   }
   }
 }
</div>
