<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201516week5A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						VMI at Butler
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI-Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports North PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						WMEU / WCIU-DT2 - Chicago<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week5B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Northwestern St. at Baylor
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit<br />
						FOX Sports North<br />
						FOX Sports San Diego<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week5C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Northern Iowa at George Mason
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic PLUS<br />
						CST<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule/">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
