<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week11A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Stanford at Arizona
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br/>
                        FSN Bay Area<br/>
                        FSN Chicago<br />
                        FSN Detroit<br />
                        FSN Cincinnati<br />
                        Sun Sports<br/>
                        FSN Midwest<br />
                        FSN New England<br/>
                        FSN New York<sup>+</sup><br/>
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        Comcast SportsNet Mid Atlantic<br/>
                        Comcast SportsNet Philadelphia<br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week11B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Oregon St. at Washington St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br/>
                        FSN Bay Area<br/>
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Detroit<br />
                        FSN Florida<br/>
                        FSN Midwest<br />
                        FSN New England<br/>
                        FSN New York<br/>
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN Southwest<br />
                        FSN West<br />
                        FSN Wisconsin<br />
                        Comcast SportsNet Philadelphia<br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week11C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        North Carolina at Florida St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br/>
                        FSN Bay Area<br/>
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Florida<br/>
                        FSN Midwest<br />
                        FSN New York<sup>+</sup><br/>
                        FSN North<br />
                        FSN Northwest<sup>+</sup><br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West<br />
                        FSN Wisconsin<br />
                        NESN<br/>
                        Comcast SportsNet Mid Atlantic<br/>
                        Comcast SportsNet Philadelphia (JIP)<br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
