<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week5A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Minnesota at Arizona St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Detroit<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN New England<br />
                        FSN New York<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South (JIP)<br />
                        FSN Southwest<sup>+</sup><br />
                        FSN West<br />
                        FSN Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week5B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        St. John's at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Detroit<br />
                        Sun Sports<br />
                        FSN Midwest<br />
                        FSN New York<br />
                        FSN North<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        NESN<br />
                        Comcast SportsNet Mid Atlantic<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week5C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Illinois vs. Oregon
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Detroit<br />
                        FSN Midwest<sup>+</sup><br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN South<sup>+</sup><br />
                        FSN Southwest<sup>+</sup><br />
                        FSN West<br />
                        Comcast SportsNet Mid-Atlantic<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week5D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Maryland
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Detroit<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        MSG<sup>+</sup><br />
                        FSN North<sup>+</sup><br />
                        FSN Northwest<sup>+</sup><br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<sup>+</sup><br />
                        FSN West<br />
                        FSN Wisconsin<br />
                        NESN<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia (JIP)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
