<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week4A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgetown at Oregon
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Detroit<br />
                        Sun Sports<br />
                        FSN Midwest<br />
                        FSN New England<br />
                        FSN North (JIP)<br />
                        FSN Northwest<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        Comcast SportsNet Mid Atlantic<br />
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week4B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia (JIP)<br />
                        MSG<br />
                        NESN
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week4C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at Duke
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Detroit<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN New York<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        Comcast SportsNet Mid Atlantic (JIP)<br />
                        Comcast SportsNet Philadelphia<br />
                        NESN
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week4D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Gonzaga at Washington
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Detroit<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN New England<br />
                        FSN New York<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh (JIP)<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        Comcast SportsNet Philadelphia (JIP)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
