<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week3A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UAB vs. Massachusetts
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Bay Area<br/>
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        Sun Sports<br/>
                        FSN Midwest<br/>
                        FSN New England<br/>
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br/>
                        FSN Southwest<br/>
                        FSN West<br/>
                        FSN Wisconsin<br/>
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week3B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State vs. Notre Dame
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br/>
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Florida<sup>+</sup><br/>
                        FSN Midwest<br/>
                        FSN New York<br />
                        FSN Northwest<br />
                        FSN South<sup>+</sup><br/>
                        FSN West<br/>
                        Comcast SportsNet Mid-Atlantic<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week3C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia at Arizona
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br/>
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Detroit<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN New England<br />
                        FSN New York<br/>
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br/>
                        FSN Southwest<br />
                        FSN West<br/>
                        Comcast SportsNet Mid-Atlantic<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
