<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week6A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia at Oregon St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN New England<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West<br />
                        FSN Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week6B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas Southern at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Bay Area<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Detroit<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN New York<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        NESN<br />
                        Comcast SportsNet Philadelphia (JIP)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week6C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        Sun Sports<br />
                        FSN Midwest<br />
                        FSN New York<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        NESN<br />
                        Comcast SportsNet Philadelphia (JIP)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week6D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Valparaiso at Duke
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FSN Arizona<br />
                        FSN Chicago<br />
                        FSN Cincinnati<br />
                        FSN Detroit<br />
                        FSN Florida<br />
                        FSN Midwest<br />
                        FSN New York<br />
                        FSN North<br />
                        FSN Northwest<br />
                        FSN Ohio<br />
                        FSN Pittsburgh<br />
                        FSN Rocky Mountain<br />
                        FSN South<br />
                        FSN Southwest<br />
                        FSN West 2<br />
                        FSN Wisconsin<br />
                        NESN<br />
                        Comcast SportsNet Philadelphia (JIP)<br />
                        Comcast SportsNet Mid Atlantic (JIP)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
