<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2014week10A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">Western Kentucky at Louisiana Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
						FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        SportSouth<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week10B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">Villanova at Richmond
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Comcast SportsNet California<br />
						Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week10C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State at Syracuse
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Carolinas<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        MSG Plus 2<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week10D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Harvard at Dartmouth
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Comcast Network Philadelphia<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        <a href="http://www.csnne.com/article/channel-info-harvard-dartmouth-game" target="_blank">Comcast SportsNet New England alternates</a><br />
                        Comcast SportsNet Northwest<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
