<div class="GoogleSearch">
    <form action="http://www.google.com/cse" id="cse-search-box" target="_blank">
    <div class="center">
        <input type="hidden" name="cx" value="partner-pub-0296554708545211:rp92al-azpy" />
        <input type="hidden" name="ie" value="ISO-8859-1" />
        <input type="text" name="q" size="31" />
        <input type="submit" name="sa" value="Search" />
    </div>
    </form>
    <script defer="defer" type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
</div>
