<div id="GoogleAd">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Responsive ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0296554708545211"
         data-ad-slot="9539391470"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
