<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2005week7A">
        @Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Miami (FL) at Temple
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FSN Arizona<br />
						FSN Bay Area<br />
						FSN Chicago<br />
						FSN Detroit<br />
						FSN Florida<br />
						FSN Midwest<br />
						FSN New England<br />
						FSN New York<br />
						FSN North<br />
						FSN Northwest<br />
						FSN Ohio<br />
						FSN Pittsburgh<br />
						FSN Rocky Mountain<br />
						FSN Southwest<br />
						FSN West<br />
						Comcast SportsNet Mid-Atlantic<br />
						Comcast SportsNet Philadelphia
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2005week7B">
        @Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UCLA at Washington St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FSN Arizona<br />
						FSN Bay Area<br />
						FSN Chicago<br />
						FSN Florida (North FL)<br />
						FSN Midwest<br />
						FSN North (Wisconsin Only)<br />
						FSN Northwest<br />
						FSN Ohio<br />
						FSN Rocky Mountain<br />
						FSN South (Outside TN)<br />
						FSN Southwest<br />
						FSN West<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
