<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week4A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona PLUS<br />
                        Bally Sports Florida/Sun<sup>+</sup><br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North PLUS<br />
                        Bally Sports Ohio PLUS<br />
                        Bally Sports South/Southeast<sup>+</sup><br />
                        Bally Sports Southwest<br />
                        Bally Sports Wisconsin<br />
                        MASN2<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
