<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week8A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        North Alabama at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<sup>+</sup><br />
                        AT&amp;T SportsNet Southwest<br />
                        ROOT Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week8B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Cornell at Syracuse
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Florida<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<sup>+</sup><br /> 
                        Bally Sports South<br />
                        Bally Sports Southwest or PLUS<sup>+</sup><br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN+<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
