<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week7A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Stetson at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit PLUS<br />
						Bally Sports Midwest PLUS<br />
                        Bally Sports North PLUS<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest or PLUS<sup>+</sup><br />
                        Bally Sports Sun<br />  
                        Bally Sports Wisconsin PLUS<br />
						MASN<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week7C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia State at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Florida<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North PLUS<br />
                        Bally Sports South/Southeast<sup>+</sup><br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin<br />
						MASN<br />
						NESN+<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
