<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week3A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UNC Asheville at North Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest<br />
                        Bally Sports North<br />
                        Bally Sports South<br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin<br />
                        MASN<br />
                        NESN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week3B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston Baptist at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona PLUS<br />
                        Bally Sports Southwest<br />
                        Bally Sports Sun<sup>+</sup><br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin PLUS<br />
                        MASN2<br />
                        Stadium College Sports Central<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week3C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Southern at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
