<div id="GoogleAd">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins id="Bottom" class="adsbygoogle" data-ad-client="ca-pub-0296554708545211"></ins>
    <script type="text/javascript" async>
        if (window.innerWidth < 641) {
            $("#Bottom").attr("style", "display:inline-block;width:234px;height:60px");
            $("#Bottom").attr("data-ad-slot", "0805896429");
        }
        else {
            $("#Bottom").attr("style", "display:inline-block;width:728px;height:90px");
            $("#Bottom").attr("data-ad-slot", "6427032164");
        }
    </script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
