<div id="GooglePartialAd">
    <br />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Small -->
    <ins class="adsbygoogle" style="display: inline-block; width: 125px; height: 125px"
        data-ad-client="ca-pub-0296554708545211" data-ad-slot="1186564671"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
