<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2017week4A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Kent St. at Louisville
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
                        AT&amp;T Sports Pittsburgh<br />
                        AT&amp;T Sports Rocky Mountain<br />
                        CSN Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South/Southeast<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div id="football2017week4B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Toledo at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        CSN Mid Atlantic PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South/Southeast<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        NESNplus<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	@Html.Partial("Google/GooglePartialAd")
</div>
