<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
	</div>
	<div id="basketball201718week1A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
                        Central Arkansas at Baylor
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
                        FOX College Sports Central<br />
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        Prime Ticket<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div id="basketball201718week1B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston Baptist at Providence
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin PLUS<br />
                        YES<br />
                        YurView - New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week1C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Morehead St. at Xavier
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T Rocky Mountain<sup>+</sup><br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        MASN2<br />
                        ROOT Sports Northwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	@Html.Partial("Google/GooglePartialAd")
</div>
