<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201213week10A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Washington at Stanford
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br/>
                        FOX Sports Detroit<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain (JIP)<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week10B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br/>
                        FOX Sports Detroit<br />
                        Sun Sports<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports San Diego<br />
                        Prime Ticket<br />
                        Comcast SportsNet Mid Atlantic<br />
						NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week10C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Vanderbilt at Arkansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Sun Sports<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week10D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit<br />
                        Sun Sports<br/>
                        FOX Sports Midwest<br />
                        FOX Sports South<br />
						Comcast SportsNet Mid Atlantic<br />
						NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
