@model New_MSS.Models.DateModel
@if (Model.IsFootball)
{
	foreach (var item in Model.YearDatesList)
	{
		string title;
		if (item.Week != Model.YearDatesList.Last().Week)
		{
			title = String.Concat("Week ", item.Week.ToString(), " - ", item.StartDate.ToString("MMMM"),
			                      " ", item.StartDate.Day, " to ", item.EndDate.ToString("MMMM"), " ", item.EndDate.Day);
		}
		else
		{
			title = "Bowl Games";
		}
		<a href="/Schedule/Weekly/@Model.Year/@item.Week">@title</a><br/>
	}
}
else if (Model.IsBasketballWithPostseason)
{
	foreach (var item in Model.YearDatesList)
	{
		string title;
		if (item.Week != Model.YearDatesList.Last().Week && item.Week != Model.YearDatesList[Model.YearDatesList.Count - 2].Week)
		{
			title = String.Concat("Week ", item.Week.ToString(), " - ", item.StartDate.ToString("MMMM"),
			                      " ", item.StartDate.Day, " to ", item.EndDate.ToString("MMMM"), " ", item.EndDate.Day);
		}
		else if (item.Week != Model.YearDatesList[Model.YearDatesList.Count - 2].Week)
		{
			title = "NIT";
		}
		else
		{
			<br />
			title = "NCAA Tournament";
		}
		<a href="/Schedule/Weekly/@Model.Year/@item.Week">@title</a><br/>

	}
}
else
{
	foreach (var item in Model.YearDatesList)
	{
		var title = String.Concat("Week ", item.Week.ToString(), " - ", item.StartDate.ToString("MMMM"),
								  " ", item.StartDate.Day, " to ", item.EndDate.ToString("MMMM"), " ", item.EndDate.Day);
		<a href="/Schedule/Weekly/@Model.Year/@item.Week">@title</a><br/>
	}
}
<br />
